#carTarget,#carList,#milesDisplay {
  display: none;
}

.centerRow {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.centerColumn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
